@import '../../../static/css/base';
.mine {
    .btn-wrap {
        padding: pxRem(20);
        .link-blue-btn {
            display: block;
            text-align: center;
            color: $colBlue;
            height: pxRem(32);
            margin: pxRem(30);
            padding: pxRem(20) pxRem(10);
            font-size: $font32;
            line-height: pxRem(32);
            border-radius: pxRem(8); 
            background-color: $colFontWhite;
            border: 1px solid $colBlue;
        }
    }
}
