* {
  margin: 0;
  padding: 0; }

html {
  background: #ffffff; }

body {
  outline: 0;
  height: auto !important;
  font: 14px "Microsoft YaHei", Arial, Helvetica, sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -o-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%; }

input,
select,
textarea {
  font-size: 100%; }

input,
button,
a,
i {
  -webkit-appearance: none; }

a {
  color: inherit;
  text-decoration: none; }

i {
  font-style: normal; }

li {
  list-style-position: inside;
  list-style: none; }

a:focus,
i:focus,
input:focus,
button:focus {
  outline: none; }

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0; }

img {
  border: 0; }

del {
  text-decoration: line-through; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 500; }

q:before,
q:after {
  content: ''; }

a:hover {
  text-decoration: underline; }

a {
  text-decoration: none; }

.fl {
  float: left; }

.fr {
  float: right; }
