@charset "utf-8";
* {
    margin: 0;
    padding: 0;
}

html {
    background: #fff;
    overflow-y: scroll;
    -webkit-text-size-adjust: 100%;
}

html,
body {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

body {
    outline: 0;
    font: 12px "Microsoft YaHei", Arial, Helvetica, sans-serif;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

input,
select,
textarea {
    font-size: 100%;
}

input,
button,
a,
i {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-appearance: none;
}

a {
    color: inherit;
    text-decoration: none;
}

i {
    font-style: normal;
}

li {
    list-style-position: inside;
    list-style: none;
}

a:focus,
i:focus,
input:focus,
button:focus {
    outline: none;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

img {
    border: 0;
}

del {
    text-decoration: line-through;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: 500;
}

q:before,
q:after {
    content: '';
}

a:hover {
    text-decoration: underline;
}

a {
    text-decoration: none;
}
