@import '../../static/css/base';

.register {
    .image-wrap {
        padding-top: pxRem(30);
        text-align: center;
        img {
            width: pxRem(360);
            margin: 0 auto;
        }
        .title {
            color: $colRed;
            font-size: pxRem(48);
        }
    }
    .main-form {
        padding: pxRem(50) pxRem(30) pxRem(30);
        .input-group {
            content: '';
        }
    }
}