@import '../../static/css/base';
.login {
    padding-bottom: pxRem(50);
    .image-wrap {
        padding-top: pxRem(30);
        text-align: center;
        img {
            width: pxRem(360);
            margin: 0 auto;
        }
        .title {
            color: $colRed;
            font-size: pxRem(48);
        }
    }
    .main-form {
        padding: pxRem(50) pxRem(50) pxRem(30);
    }
    .blue-btn {
        text-align: center;
        color: $colFontWhite;
        padding: pxRem(25);
        height: pxRem(32);
        font-size: $font32;
        line-height: pxRem(32);
        border-radius: pxRem(8);
        margin: 0 pxRem(60);
        background-color: $colBlue;
    }
    .grey-btn {
        text-align: center;
        color: $colFontWhite;
        padding: pxRem(25);
        height: pxRem(32);
        font-size: $font32;
        line-height: pxRem(32);
        border-radius: pxRem(8);
        margin: 0 pxRem(60);
        background-color: $colBorLight;
    }
    .link-blue-btn {
        display: block;
        text-align: center;
        color: $colBlue;
        padding: pxRem(25);
        height: pxRem(32);
        font-size: $font32;
        line-height: pxRem(32);
        border-radius: pxRem(8);
        margin: pxRem(30) pxRem(60) 0;
        background-color: $colFontWhite;
        border: 1px solid $colBlue;
    }
}
